 @font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Reg.otf'); 
    font-weight: normal;
   } 

 @font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Bold.otf'); 
    font-weight: bold;
   }


 @font-face {
    font-family: 'ProximaNovalt';
    src: url('../fonts/ProximaNova-Light.otf'); 
   } 



body {
	min-width: 1170px;
	margin: 0;
	font-family: 'ProximaNova';
}

.container {
	width: 1200px;
	margin: 0 auto;
} 

* {
	box-sizing: border-box;
}

/* -------------------------- Header ----------------------------*/
.page-header {
	background-image: url(../img/promo_bg.jpg);
	background-size: cover;
    width: 100%;
    height: 850px;
}

.page-header__contacts {

	display: flex;
    vertical-align: middle;
    justify-content: flex-end;
    padding: 10px 0 3px 0;
}

.page-header__contacts-bg {
	background-color: #e9e9f1;
}

.page-header__contacts-list {
	list-style: none;
    margin: 0;
    padding-left: 0;
    font-family: 'ProximaNovalt';
}

.page-header__contacts-list a {
	text-decoration: none;
	color: #000;
	font-family: 'ProximaNovalt';
}

.page-header__contacts-item {
    float: left;
    margin-right: 45px;
    position: relative;

   } 

 .clock::before {
 	content: '';
 	position: absolute;
 	background-image: url(../img/sprites.png);
 	width: 19px;
 	height: 19px;
 	background-position: -159px -2px;
 	right: 65px;

 }  

 .phone::before {
 	content: '';
 	position: absolute;
 	background-image: url(../img/sprites.png);
 	width: 16px;
 	height: 16px;
 	background-position: -178px -29px;
 	right: 130px;
 }

.adress::before {
	content: '';
 	position: absolute;
 	background-image: url(../img/sprites.png);
 	width: 13px;
 	height: 18px;
 	background-position: -203px -2px;
 	right: 155px;

}

/*
.page-header__main {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}*/
.page-header__main-list {
	display: flex;
	align-items: center;
}


a.logo {
	display: flex;
	flex-grow: 0;
	width: 90px;
}

a.btn {
	text-decoration: none;
	color: #000;
	border: 1px solid #000;
	padding: 7px 30px;
}
a.btn-white {

	background-color: #eeeef4;

}
.main-nav {
	display: flex;
	vertical-align: middle;
	flex-grow: 3;
    justify-content: flex-end;
}

.main-nav__list {
	list-style: none;
    margin: 0;
    padding-left: 0;
}

.main-nav__item {
	float: left;
    margin: 0 20px;
    position: relative;
}

a.main-nav__link {
	text-decoration: none;
	color: #000;
	font-family: 'ProximaNova';
}

.active::after {
	border-bottom: 1px solid #000;
	width: 20px;
	content: '';
	position: absolute;
	left: 15px;
    bottom: -5px;

}

/* -------------------------- Promo ----------------------------*/

.page-header__main{
	background-image: url(../img/promo_bg.jpg);
	background-size: cover;
    width: 100%;
    height: 810px;
}

.promo {
	margin-top: 90px;
}

.section__title {
	text-transform: uppercase;
	text-align: center;
	font-size: 40px;
	margin-bottom: 15px;
	position: relative;
	width: 260px;
    margin: 0 auto;
}

.section__title::after {
	border-bottom: 2px solid #000;
	width: 95px;
	content: '';
	position: absolute;
	right: 80px;
    bottom: -5px;
	
}

p.promo__descr {
	text-align: left;
	line-height: 30px;
}

p.promo__descr--view-xs {
	width: 800px;
	font-size: 18px;
	margin-top: 100px;
	font-family: 'Open Sans', sans-serif;

}

p.promo__descr--view-sm {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	width: 206px;
}

/* -------------------------- Tracks ----------------------------*/
#track {
	background-image: url(../img/bg-track.jpg);
	background-size: cover;
    width: 100%;
    height: 940px;	
    margin-top: -40px;
}

.section__title {
	text-transform: uppercase;
	text-align: center;
	font-size: 40px;
	margin-bottom: 15px;
	padding-top: 30px;
}

.title__white {
	color: #fff;
	padding-top: 20px;
}

.title__white::after {
	border-bottom: 2px solid #fff;
	width: 95px;
	content: '';
	position: absolute;
	right: 80px;
    bottom: -5px;
}

.track__item {
	display: inline-block;
	width: 214px;
	font-size: 0;
	vertical-align: top;
	margin: 20px 10px;
}

.track__item-even {
	display: inline-block;
	width: 214px;
	font-size: 0;
	vertical-align: top;
	margin-top: 70px;
	margin-left: 10px;
	margin-right: 10px;
}
.track__item-title {
	background-color: #22313f;
	opacity: 0.8;
	width: 214px;
    height: 140px;
}

.track__item-title-even {
	background-color: #22313f;
	width: 214px;
    height: 140px;
}

.track__item-title h3 {
	color: #c7c7d3;
	font-size: 30px;
	text-align: center;
	margin-top: 0;
	padding-top: 15px;
	margin-bottom: 0;
	}

.track__item-title-even h3 {
	color: #c7c7d3;
	font-size: 30px;
	text-align: center;
	margin-top: 0;
	padding-top: 15px;
    margin-bottom: 0;

	}	

p.track__item-icon{
	color: #f9f9f9;
	font-size: 15px;
	text-align: center;
	position: relative;
	margin-left: 10px;
}

.mountain::before {
	content: '';
	position: absolute;
	background-image: url(../img/mountain.png);
	width: 33px;
	height: 20px;
	left: 20px;
    bottom: 0;

}

.member::before {
	content: '';
	position: absolute;
	background-image: url(../img/member.png);
	width: 23px;
    height: 25px;
    left: 25px;
    bottom: 0;
}

.track__item-img {
	width: 214px;
	height: auto;
}

.track__item-img img {
	width: 100%;
}

.track__item-descr {
	background-color: #22313f;
    height: 155px;
    opacity: 0.8;
}

.track__item-descr-even {
	background-color: #22313f;
    height: 155px;

}

.track__item-descr p {
	color: #e7e7f2;
	font-size: 16px;
	margin-top: 0;
	text-align: center;
	padding: 30px 10px 10px 10px;;
	line-height: 20px;
	font-family: 'Open Sans', sans-serif;
}

.track__item-descr-even p {
	color: #e7e7f2;
	font-size: 16px;
	margin-top: 0;
	text-align: center;
	padding: 30px 10px 10px 10px;;
	line-height: 20px;
	font-family: 'Open Sans', sans-serif;
}

/*
div.track__item:nth-child(2n+1) {
	
}
*/

/*a.track__prev-arrow {
	display: inline-block;
	background-image: url(../img/sprites.png);
	width: 21px;
	height: 41px;
	background-position: 0 -53px;
	background-repeat: no-repeat;
}

a.track__next-arrow {
	display: inline-block;
	background-image: url(../img/sprites.png);
	width: 23px;
	height: 41px;
	background-position: -68px -52px;
	background-repeat: no-repeat;
}
*/

/* -------------------------- Event ----------------------------*/

#event {
	margin: 0 auto;
	overflow: hidden;
}

.event__event-item {
	display: inline-block;
	width: 353px;
	position: relative;
	margin-right: 44px;
	margin-top: 20px;
}

.event__event-item img {
	width: 100%;
	
}

h3.event-item-title {
	position: absolute;
	content: '';
	width: 100%;
	bottom: 10px;
	color: #fff;
	font-size: 30px;
	padding: 0 20px;
}

.event__event-item:last-child {
	margin-right: 0;
}


/* -------------------------- About-us ----------------------------*/
#about-us {
	margin-top: 70px;
}

.about-us-bg {
	background-image: url(../img/bg-aboutus.jpg);
	text-align: center;

}

.about-us__item {
	display: inline-block;
	width: 250px;
	vertical-align: top;
	position: relative;
	padding: 40px 10px;
	margin: 40px 60px;
}

.about-us__item p {
	color: #fff;
	font-size: 16px;
	line-height: 24px;
	text-align: left;
	padding-top: 10px;
}

.equpment::before {
	content: '';
	position: absolute;
	background-image: url(../img/sprites.png);
	background-position: -2px 0;
	width: 41px;
	height: 42px;
	top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-repeat: no-repeat;
}

.equpment::after {
	content: '';
	position: absolute;
	background-image: url(../img/border.png);
	width: 75px;
    height: 75px;
    top: -15px;
    left: 0px;
    right: 0;;
    margin: auto;
    background-repeat: no-repeat;
}


.mark::before {
	content: '';
	position: absolute;
	background-image: url(../img/sprites.png);
	background-position: -50px -2px;
	width: 39px;
	height: 42px;
	top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-repeat: no-repeat;
}

.mark::after {
	content: '';
	position: absolute;
	background-image: url(../img/border.png);
	width: 75px;
    height: 75px;
    top: -15px;
    left: 0px;
    right: 0;
    margin: auto;
    background-repeat: no-repeat;
}

.help::before {
	content: '';
	position: absolute;
	background-image: url(../img/sprites.png);
	background-position: -97px 0;
	width: 55px;
	height: 42px;
	top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-repeat: no-repeat;
}

.help::after {
	content: '';
	position: absolute;
	background-image: url(../img/border.png);
	width: 75px;
    height: 75px;
    top: -15px;
    left: 0px;
    right: 0;
    margin: auto;
    background-repeat: no-repeat;
}

.about-us__img-block {
	width: 1200px;
	margin: 0 auto;
}

.about-us__imgs {
	display: inline-block;
	width: 363px;
	height: 490px;
	margin: 25px;
}

.about-us__imgs img {
	width: 100%;
}


.about-us__img-list {
	margin-top: 110px;
}

.about-us__imgs:first-child {
	margin-left: 0;
}
.about-us__imgs:last-child {
	margin-right: 0;
}


/* -------------------------- Price ----------------------------*/

#price {
	background-image: url(../img/price-bg.jpg);
	background-size: cover;
    width: 100%;
    height: 1700px;	
    margin-top: 60px;

}
table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 80px;
	margin-top: 60px;
}

th {
	background-color: #5b6671;
	height: 60px;
	width: 400px;
}

th h4 {
	margin: 0;
	color: #dadae7;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
}

th p {
	margin: 0;
	color: #dadae7;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}

th.blank {
	width: 395px;
	background-color: #fff;
}

td.colspan-section {
	text-align: center;
	background-color: #e3e6ea;
	height: 55px;
	opacity: 0.7;
}

td span {
	font-weight: bold;
}

td.table-services{
	text-align: center;
	background-color: #22313f;
	opacity: 0.75;
	height: 65px;
	color: #dadae7;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;


}

tbody td {
	text-align: center;
}

td.blank-line {
	height: 60px;
}

td.colspan-section-nocolor {
	text-align: center;
	background-color: transparent;
	height: 55px;
}

td h4 {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
}

a.btn-red {
	background-color: #7e1112;
	opacity: 0.8;
	color: #fff;
}

.additions {
	width: 600px;
    margin: 0 auto;
    text-align: center;
}

a.safety-measures {
	color: #000;
	margin-left: 80px;
}

.price-320 {
	margin-top: 20px;
}

.price-320__item {
	text-align: center;
	border-top: 1px solid #000;
}

.price-320__ammount {
	text-align: center;
	background-color:  #e3e6ea;
	opacity: 0.7;
}

.price-320__adds {
	text-align: left;
}

/* -------------------------- Review ----------------------------*/

#reviews {
	position: relative;
}

.reviews__item {
	display: inline-block;
	width: 215px;
	vertical-align: top;
	margin-right: 110px;
	position: relative;
}

.reviews__item img {
	border-radius: 50%;
	width: 159px;
	height: 159px;
}

.reviews-bg::before {
	content: '';
	position: absolute;
	width: 1200px;
	height: 500px;
	background-color: #e3e6ea;
	opacity: 0.7;
}

.reviews__list {
	width: 1100px;
	margin: 0 auto;
	text-align: center;
	margin-top: 60px;
}

p.reviews__name {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: bold;
}

p.reviews__job {
	margin-top: 0;
	margin-bottom: 5px;
}

p.reviews__descr {
	margin-top: 30px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	text-align: left;
    padding-left: 20px;
}

a.reviews__prew-arrow{
	content: '';
	position: absolute;
	background-image: url(../img/sprites.png);
	background-position: 0px -53px;
	width: 21px;
	height: 41px;
    left: 70px;
    bottom: 150px;
}

.instagram-review {
	content: '';
	position: absolute;
	background-image: url(../img/sprites.png);
	background-position: -221px -25px;
	width: 20px;
	height: 20px;
    left: 80px;
}

.vk-review {
	content: '';
	position: absolute;
	background-image: url(../img/sprites.png);
	background-position: -251px -1px;
	width: 29px;
	height: 19px;
    left: 110px;
}

a.reviews__next-arrow{
	content: '';
	position: absolute;
	background-image: url(../img/sprites.png);
	background-position: -68px -52px;
	width: 22px;
    height: 41px;
    right: 70px;
    bottom: 150px;
}

.reviews__item:last-child {
	margin-right: 0;	
}
/* -------------------------- Footer ----------------------------*/

#footer-section {
	background-color: #22313f;
}

.footer-right {
	width: 390px;
	display: inline-block;
	vertical-align: top;
	margin-right: 60px;
	margin-top: 45px;
}

p.footer-right__adress {
	width: 188px;
	color: #fff;
	display: inline-block;
	position: relative;
	margin-left: 25px;
}

a.footer-right__tel-number {
	width: 155px;
	color: #fff;
	text-decoration: none;
	position: relative;
}

.footer-right__nav-list {
	list-style: none;
    margin: 0;
    padding-left: 0;
}

.footer-right__nav-item {
	margin-bottom: 10px;
}

a.footer-right__nav-link {
	text-decoration: none;
	color: #fff;
	font-family: 'ProximaNova';
	text-transform: uppercase;
}

.footer-left {
	width: 740px;
	height: 410px;
	display: inline-block;
	vertical-align: top;
	margin-top: 20px;
}



.footer-phone::before {
 	content: '';
 	position: absolute;
 	background-image: url(../img/phone-call-footer.png);
 	width: 18px;
    height: 18px;
    top: 0;
    left: -25px;
 	
 }

.footer-adress::before {
	content: '';
 	position: absolute;
 	background-image: url(../img/placeholder-footer.png);
 	width: 14px;
    height: 19px;
    left: -25px;

}

.footer-right__social-links {
	width: 115px;
	margin-top: 40px;
}

.footer-right__social-links-list {
	list-style: none;
    margin: 0;
    padding-left: 0;
    position: relative;
}

.footer-right__social-links-item {
	float: left;
    margin-right: 45px;
   
}

.footer-right__social-links-link {
	text-decoration: none;
	position: relative;
}

.twitter {
	content: '';
	position: absolute;
	background-image: url(../img/sprites.png);
	height: 24px;
    width: 28px;
    background-position: -107px -112px;
    
}

.vk {
	content: '';
	position: absolute;
	background-image: url(../img/vk.png);
	height: 19px;
    width: 32px;
    left: 40px;
}

.instagram {
	content: '';
	position: absolute;
	background-image: url(../img/instagram.png);
	height: 24px;
    width: 24px;
    left: 90px;
}




