 @font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Reg.otf'); 
    font-weight: normal;
   } 

 @font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Bold.otf'); 
    font-weight: bold;
   }


 @font-face {
    font-family: 'ProximaNovalt';
    src: url('../fonts/ProximaNova-Light.otf'); 
   } 



body {
	min-width: 320px;
	margin: 0;
	font-family: 'ProximaNova';
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
} 

* {
	box-sizing: border-box;
}

/* -------------------------- Header ----------------------------*/
.page-header {
	
}

.page-header__contacts {

	display: flex;
	vertical-align: middle;
	justify-content: flex-end;
	padding: 10px 0 3px 0;
	position: relative;
}

.page-header__contacts-bg {
	background-color: #e9e9f1;
}

.page-header__contacts-list {
	list-style: none;
 	margin: 0;
	padding-left: 0;
	font-family: 'ProximaNovalt';
}

.page-header__contacts-list a {
	text-decoration: none;
	color: #000;
	font-family: 'ProximaNovalt';
}

.page-header__contacts-item {
	
	float: left;
	margin-right: 45px;
	position: relative;

   } 

 .clock::before {
 	content: '';
 	position: absolute;
 	background-image: url(../img/sprites.png);
 	width: 19px;
 	height: 19px;
 	background-position: -159px -2px;
 	right: 65px;

 }  

 .phone::before {
 	content: '';
 	position: absolute;
 	background-image: url(../img/sprites.png);
 	width: 16px;
 	height: 16px;
 	background-position: -178px -29px;
 	right: 130px;
 }

.adress::before {
	content: '';
 	position: absolute;
 	background-image: url(../img/sprites.png);
 	width: 13px;
 	height: 18px;
 	background-position: -203px -2px;
 	right: 155px;

}

.page-header__contacts-320 {
	display: flex;
}

.page-header__contacts-320 ul {
	list-style: none;
    margin: 0;
    font-family: 'ProximaNovalt';
}

.page-header__contacts-320 a {
	text-decoration: none;
	color: #000;
}


button.page-header__toggler {
	width: 4px;
	height: 20px;
}
.page-header__toggler span {
	background-image: url(../img/Burger.png);
	width: 4px;
    height: 20px;
    content: '';
    position: absolute;
	top: 5px;
	right: 0;
}

/*
.page-header__main {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}*/
.page-header__main-list {
	display: flex;
	align-items: center;
}


a.logo {
	display: flex;
	flex-grow: 0;
	width: 90px;
	margin-top: 5px;
}

a.btn {
	text-decoration: none;
	color: #000;
	border: 1px solid #000;
	padding: 7px 30px;
	margin-left: 20px;
}
a.btn-white {

	background-color: #eeeef4;

}
.main-nav {
	display: flex;
	vertical-align: middle;
	flex-grow: 3;
	justify-content: flex-end;
}

.main-nav__list {
	list-style: none;
    margin: 0;
    padding-left: 0;
}

.main-nav__item {
	float: left;
	margin: 0 20px;
	position: relative;
}

a.main-nav__link {
	text-decoration: none;
	color: #000;
	font-family: 'ProximaNova';
}

.active::after {
	border-bottom: 1px solid #000;
	width: 20px;
	content: '';
	position: absolute;
	left: 15px;
	bottom: -5px;

}

/* -------------------------- Promo ----------------------------*/

.page-header__main{
	background-image: url(../img/promo_bg.jpg);
	background-size: cover;
	width: 100%;
	padding-bottom: 20px;
	
}

.promo {
	margin-top: 90px;

}

.section__title {
	text-transform: uppercase;
	text-align: center;
	font-size: 40px;
	margin-bottom: 15px;
	position: relative;
	width: 260px;
	margin: 0 auto;
}

.section__title::after {
	border-bottom: 2px solid #000;
	width: 95px;
	content: '';
	position: absolute;
	right: 80px;
    bottom: -5px;
	
}

p.promo__descr {
	text-align: left;
	line-height: 30px;
}

p.promo__descr--view-xs {
	width: 54%;
	font-size: 18px;
	margin-top: 100px;
	font-family: 'Open Sans', sans-serif;

}

p.promo__descr--view-sm {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	width: 206px;
	margin-top: 100px;
}

/* -------------------------- Tracks ----------------------------*/
#track {
	background-image: url(../img/bg-track.jpg);
	position: relative;
	background-repeat: no-repeat;
	margin-bottom: 20px;

}

.section__title {
	text-transform: uppercase;
	text-align: center;
	font-size: 40px;
	padding-top: 30px;
}

.title__white {
	color: #fff;
	padding-top: 40px;
}

.title__white::after {
	border-bottom: 2px solid #fff;
	width: 95px;
	content: '';
	position: absolute;
	right: 80px;
	bottom: -5px;
}

a.track__prev-arrow {
	content: '';
	position: absolute;
	background-image: url(../img/sprites.png);
	background-position: 0px -53px;
	width: 21px;
	height: 41px;
	left: 70px;
	bottom: 150px;
}

a.track__next-arrow {
	content: '';
	position: absolute;
	background-image: url(../img/sprites.png);
	background-position: -68px -52px;
	width: 22px;
    height: 41px;
    right: 70px;
    bottom: 150px;

}

.track__item {
	display: inline-block;
	width: 214px;
	font-size: 0;
	vertical-align: top;
	margin: 20px 10px;
}

.track__item:nth-child(2n) {
	margin-top: 90px;
	background-color: #22313f;

}


.track__item-title {
	background-color: #22313f;
	opacity: 0.8;

	height: 140px;
}



.track__item-title h3 {
	color: #c7c7d3;
	font-size: 30px;
	text-align: center;
	margin-top: 0;
	padding-top: 15px;
	margin-bottom: 0;
	}



p.track__item-icon{
	color: #f9f9f9;
	font-size: 16px;
	text-align: center;
	position: relative;
	margin-left: 10px;
}

.mountain::before {
	content: '';
	position: absolute;
	background-image: url(../img/sprites.png);
	background-position: -156px -64px;
	width: 33px;
	height: 20px;
	left: 20px;
	bottom: 0;

}

.member::before {
	content: '';
	position: absolute;
	background-image: url(../img/sprites.png);
	background-position: -211px -63px;
	width: 23px;
	height: 25px;
	left: 25px;
	bottom: 0;
}

.track__item-img {
	
	height: auto;
}

.track__item-img img {
	width: 100%;
}

.track__item-descr {
	background-color: #22313f;
	height: 155px;
	opacity: 0.8;
	
}



.track__item-descr p {
	color: #e7e7f2;
	font-size: 16px;
	margin-top: 0;
	text-align: center;
	padding: 30px 10px 10px 10px;;
	line-height: 20px;
	font-family: 'Open Sans', sans-serif;
}

.multiple-items {
	vertical-align: top;
	width: 65%;
	margin: 0 auto;
	margin-top: 40px;
}

.track__item-slide {
	width: 35%;
	padding: 5px;
}

.arrow-slider {
	  font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: green;
    border: none;
    outline: none;
    background: transparent;
}

.prev {
	content: '';
	background-image: url(../img/sprites.png);
	background-position: 0 -53px;
	width: 21px;
	height: 41px;
	left: -35px;
	z-index: 9;

}

.next{
	content: '';
	background-image: url(../img/sprites.png);
	background-position: -68px -52px;
	width: 23px;
	height: 41px;
	right: -35px;
	z-index: 9;

}

.track__list-slider-320 {
	width: 215px;
	margin: 0 auto;
	margin-top: 40px;
}

.track__item-slider-320 {
	width: 215px;
	height: 319px;
	position: relative;
	display: inline-block;
}
.track__item-slider-320 img {
	}

.track__item-slider-320::before {
	content: '';
	position: absolute;
	width: 215px;
	height: 319px;
	background-color: #22313f;
	opacity: 0.8;
}
.track__item-slider-320-descr {
	position: absolute;
	content: '';
	width: 200px;
	height: 300px;
	bottom: 0;
}

.track__item-slider-320-descr h3 {
	color: #c7c7d3;
	font-size: 30px;
	text-align: center;
	margin-top: 0;
}

p.track-inf {
	font-size: 16px;
	color: #c7c7d3;
	font-family: 'Open Sans', sans-serif;
	text-align: center;

}
/* -------------------------- Event ----------------------------*/

#event {
	margin: 0 auto;
	overflow: hidden;
}

.event__event-list {
	display: flex;
	justify-content: space-around;
	margin-top: 40px;
}

.event__event-item {
	width: 353px;
	position: relative;
	margin-right: 44px;
	margin-top: 60px;
	height: 345px;
	overflow: hidden;

}



.event__event-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	
}

h3.event-item-title {
	position: absolute;
	content: '';
	width: 100%;
	bottom: 10px;
	color: #fff;
	font-size: 30px;
	padding: 0 20px;
}



.event__event-list-768 {
	margin-top: 55px;
	width: 740px;
	margin: 0 auto;
}

.event__event-item-768 {
	position: relative;
	width: 740px;
}

.event__event-item-768 img {
	width: 100%;
}

h3.event-item-title-768 {
	position: absolute;
	content: '';
	width: 40%;
	bottom: 10px;
	color: #fff;
	font-size: 30px;
	padding: 0 20px;
}

a.event-item-link {
	width: 103px;
	position: absolute;
	bottom: -20px;
	transition: all 0s;
	color: #fff;
}

.event__event-item:hover a {
	bottom: 162px;
	left: 125px;
}

.event__event-item:hover h3 {
	display: none;
}

.event__event-item:hover::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 353px;
	background-color: #000;
	opacity: 0.5;
}

a.event-item-link-768 {
	width: 103px;
	position: absolute;
	right: -20px;
	transition: all 0s;
	color: #fff;
}
.event__event-item-768:hover a {
	bottom: 119px;
	left: 318px;
}

.event__event-item-768:hover h3 {
	display: none;
}

.event__event-item-768:hover::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 258px;
	background-color: #000;
	opacity: 0.5;
}


.event__event-list-320 {
	width: 290px;
	margin: 0 auto; 
}
.event__event-item-320 {
	
	width: 290px;
	position: relative;
	margin-top: 60px;
	overflow: hidden;
}

.event__event-item-320:last-child {
	margin-right: 0;
}

.event__event-item-320 img {
	max-width: 100%;
	
}

h3.event-item-title-320 {
	position: absolute;
	content: '';
	width: 100%;
	bottom: 10px;
	color: #fff;
	font-size: 24px;
	padding: 0 20px;
}


a.event-item-link-320 {
	width: 103px;
	position: absolute;
	bottom: -20px;
	transition: all 0s;
	color: #fff;
}

.event__event-item-320:hover a {
	bottom: 110px;
	left: 100px;
}

.event__event-item-320:hover h3 {
	display: none;
}

.event__event-item-320:hover::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 338px;
	background-color: #000;
	opacity: 0.5;
}

/* -------------------------- About-us ----------------------------*/
#about-us {
	margin-top: 70px;
}

.about-us-bg {
	background-image: url(../img/bg-aboutus.jpg);

}

.about-us-bg-768 {
	background-image: url(../img/about-us-bg-768.jpg);
	
}

.about-us__item-768 {
	width: 220px;
	vertical-align: top;
	position: relative;
	padding: 60px 0px 60px 15px;
    margin-top: 40px;
	
}

.about-us__item-768 p{
	font-size: 14px;
	color: #fff;	
}

.about-us__imgs-768 {
	width: 245px;
}

.about-us__imgs-768 img {
	width: 100%;
}

.about-us__list {
	display: flex;
	justify-content: space-between;
}

.about-us__item {
	
	width: 250px;
	vertical-align: top;
	position: relative;
	padding: 40px 10px;
	margin: 45px 60px;
}

.about-us__item p {
	color: #fff;
	font-size: 16px;
	line-height: 24px;
	padding-top: 30px;
	margin: 0;
}

.equpment::before {
	content: '';
	position: absolute;
	background-image: url(../img/sprites.png);
	background-position: -2px 0;
	width: 41px;
	height: 42px;
	top: 0;
 	left: 0;
	right: 0;
	margin: auto;
	background-repeat: no-repeat;
}

.equpment::after {
	content: '';
	position: absolute;
	background-image: url(../img/sprites.png);
	background-position: -12px -105px;
	width: 75px;
	height: 75px;
	top: -15px;
	left: 0px;
	right: 0;;
	margin: auto;
	background-repeat: no-repeat;
}


.mark::before {
	content: '';
	position: absolute;
	background-image: url(../img/sprites.png);
	background-position: -50px -2px;
	width: 39px;
	height: 42px;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-repeat: no-repeat;
}

.mark::after {
	content: '';
	position: absolute;
	background-image: url(../img/sprites.png);
	background-position: -12px -105px;
	width: 75px;
	height: 75px;
    top: -15px;
    left: 0px;
   	right: 0;
    margin: auto;
    background-repeat: no-repeat;
}

.help::before {
	content: '';
	position: absolute;
	background-image: url(../img/sprites.png);
	background-position: -97px 0;
	width: 55px;
	height: 42px;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-repeat: no-repeat;
}

.help::after {
	content: '';
	position: absolute;
	background-image: url(../img/sprites.png);
	background-position: -12px -105px;
	width: 75px;
	height: 75px;
	top: -15px;
	left: 0px;
	right: 0;
	margin: auto;
	background-repeat: no-repeat;
}


.about-us__img-list {
	display: flex;
	justify-content: space-around;
	margin-top: 50px;		
}

.about-us__imgs {
	width: 359px;
}

.about-us__imgs img {
	width: 100%;
	height: 100%;
    object-fit: cover;
}

.about-us-bg-320 {
	background-image: url(../img/about-us-320.jpg);
	width: 290px;
    margin: 0 auto;
}

.about-us__list-320 {
width: 290px;
overflow: hidden;
}

.about-us__item-320 {
	
	width: 260px;

	position: relative;
	
}

.about-us__item-320 p {
	float: left;
    padding-left: 65px;
    color: white;
    margin-top: 0;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;

}

.equpment-320::before {
	content: '';
	position: absolute;
	background-image: url(../img/rope-320.png);
	width: 31px;
	height: 32px;
	left: 19px;
    top: 13px;
	margin: auto;
	background-repeat: no-repeat;
}

.equpment-320::after {
	content: '';
	position: absolute;
	background-image: url(../img/elips.png);
	width: 75px;
	height: 75px;
	left: 5px;
	margin: auto;
	background-repeat: no-repeat;
}

.mark-320::before {
	content: '';
	position: absolute;
	background-image: url(../img/sign-320.png);
	width: 31px;
	height: 32px;
	left: 19px;
    top: 100px;
	margin: auto;
	background-repeat: no-repeat;
}

.mark-320::after {
	content: '';
	position: absolute;
	background-image: url(../img/elips.png);
	width: 75px;
	height: 75px;
	left: 5px;
	top: 85px;
    margin: auto;
    background-repeat: no-repeat;
}

.help-320::before {
	content: '';
	position: absolute;
	background-image: url(../img/question-320.png);
	width: 75px;
	height: 75px;
	left: 12px;
	top: 205px;
	margin: auto;
	background-repeat: no-repeat;
}

.help-320::after {
	content: '';
	position: absolute;
	background-image: url(../img/elips.png);
	width: 75px;
	height: 75px;
	left: 5px;
	top: 196px;
	margin: auto;
	background-repeat: no-repeat;
}


.about__item-slider-320 {
	width: 215px;
	height: 319px;
	position: relative;
	display: inline-block;
	margin-top: 20px;
}
/* -------------------------- Price ----------------------------*/

#price {
	background-image: url(../img/price-bg.jpg);
	height: auto;	
	margin-top: 60px;
	background-repeat: no-repeat;
	background-size: cover;

}
table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 80px;
	margin-top: 60px;
}

th {
	background-color: #5b6671;
	height: 60px;
	width: 400px;
}

th h4 {
	margin: 0;
	color: #dadae7;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
}

th p {
	margin: 0;
	color: #dadae7;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}

th.blank {
	width: 395px;
	background-color: #fff;
}

td.colspan-section {
	text-align: center;
	background-color: #e3e6ea;
	height: 55px;
	opacity: 0.7;
}

td span {
	font-weight: bold;
}

td.table-services{
	text-align: center;
	background-color: #22313f;
	opacity: 0.75;
	height: 65px;
	color: #dadae7;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;


}

tbody td {
	text-align: center;
}

td.blank-line {
	height: 60px;
}

td.colspan-section-nocolor {
	text-align: center;
	background-color: transparent;
	height: 55px;
}

td h4 {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
}

a.btn-red {
	background-color: #7e1112;
	opacity: 0.8;
	color: #fff;
}

.additions {
	text-align: center;
}

a.safety-measures {
	color: #000;
	margin-left: 80px;
}

.price-320 {
	padding-top: 30px;
	width: 290px;
	margin: 0 auto;
}

.price-320__item {
	text-align: center;
	border-top: 1px solid #000;
	height: 57px;
	position: relative;
}

.price-320__item::before {
	content: '';
	position: absolute;
	width: 14px;
	height: 25px;
	background-image: url(../img/prev-price.png);
	right: 20px;
    top: 15px;
}

.price-320__item p {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

.price-320__ammount {
	text-align: center;
	background-color:  #e3e6ea;
	opacity: 0.7;
	border-top: 1px solid #000;
	height: 53px;
	display: flex;
    justify-content: space-around;
    width: 290px;
	margin: 0 auto;
}

.price-320__ammount p {
	display: inline-block;
}

.price-320__adds-list {
	width: 290px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.price-320__adds {
	
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;

}

/* -------------------------- Review ----------------------------*/

#reviews {
	position: relative;
	margin-top: 80px;
}

.reviews-bg {
	
}
.reviews__item {
	display: inline-block;
	width: 235px;
	vertical-align: top;
	position: relative;
}

.reviews__item img {
	border-radius: 50%;
	width: 159px;
	height: 159px;
	margin: 0 auto;
}

#reviews::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 500px;
	background-color: #e3e6ea;
	opacity: 0.7;
	
}

.reviews__list {
	text-align: center;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.reviews__list-320 {
	text-align: center;
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 215px;
    margin: 0 auto;
}

p.reviews__name {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: bold;
}

p.reviews__job {
	margin-top: 0;
	margin-bottom: 5px;
}

p.reviews__descr {
	margin-top: 30px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	text-align: left;
	padding-left: 20px;
	font-weight: bold;
	width: 190px;
    margin: 0 auto;
    margin-top: 30px;
}

a.reviews__prew-arrow{
	content: '';
	position: absolute;
	background-image: url(../img/sprites.png);
	background-position: 0px -53px;
	width: 21px;
	height: 41px;
	left: 70px;
	bottom: 150px;
}

.instagram-review {
	content: '';
	position: absolute;
	background-image: url(../img/sprites.png);
	background-position: -221px -25px;
	width: 20px;
	height: 20px;
	left: 130px;
}

.vk-review {
	content: '';
	position: absolute;
	background-image: url(../img/sprites.png);
	background-position: -251px -1px;
	width: 29px;
	height: 19px;
	left: 160px;
}

a.reviews__next-arrow{
	content: '';
	position: absolute;
	background-image: url(../img/sprites.png);
	background-position: -68px -52px;
	width: 22px;
    height: 41px;
    right: 70px;
    bottom: 150px;
}

.reviews__item:last-child {
	margin-right: 0;	
}


.reviews-bg-768::before {
	content: '';
	position: absolute;
	width: 97%;
	height: 500px;
	background-color: #e3e6ea;
	opacity: 0.7;
}

a.reviews__next-arrow-768{
	content: '';
	position: absolute;
	background-image: url(../img/sprites.png);
	background-position: -68px -52px;
	width: 22px;
    height: 41px;
    right: 20px;
    bottom: 150px;
}

a.reviews__prew-arrow-768{
	content: '';
	position: absolute;
	background-image: url(../img/sprites.png);
	background-position: 0px -53px;
	width: 21px;
	height: 41px;
	left: 20px;
	bottom: 150px;
}

.reviews-bg-768 .reviews__item {
	margin-right: 0;
    display: inline-block;
    width: 215px;
    vertical-align: top;
    position: relative;
}

.reviews-bg-768 .reviews__list {
	text-align: center;
    margin-top: 60px;
    width: 100%;
}
/* -------------------------- Footer ----------------------------*/

#footer-section {
	background-color: #22313f;

}

.footer-right {
	width: 30%;
	display: inline-block;
	vertical-align: top;
	margin-top: 45px;
}

p.footer-right__adress {
	width: 188px;
	color: #fff;
	display: inline-block;
	position: relative;
	padding-left: 25px;
	margin-bottom: 0;
}

p.footer-right__tel-number {
	width: 155px;
	display: inline-block;
	position: relative;
	padding-left: 25px;
}

p.footer-right__tel-number a {
	color: #fff;
	text-decoration: none;
}


.footer-right__nav-list {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.footer-right__nav-item {
	margin-bottom: 10px;
}

a.footer-right__nav-link {
	text-decoration: none;
	color: #fff;
	font-family: 'ProximaNova';
	text-transform: uppercase;
}

.footer-left {
	width: 60%;
	display: inline-block;
	vertical-align: top;
	margin-top: 50px;
}

.footer-left__map {
	width: 100%;
}



.footer-phone::before {
 	content: '';
 	position: absolute;
 	background-image: url(../img/phone-call-footer.png);
 	width: 18px;
	height: 18px;
	top: 0;
	left: 0;
 	
 }

.footer-adress::before {
	content: '';
 	position: absolute;
 	background-image: url(../img/placeholder-footer.png);
 	width: 14px;
	height: 19px;
	left: 0;

}

.footer-right__social-links {
	width: 115px;
	margin-top: 40px;
}

.footer-right__social-links-list {
	list-style: none;
	margin: 0;
	padding-left: 0;
	position: relative;
}

.footer-right__social-links-item {
	float: left;
    margin-right: 45px;
   
}

.footer-right__social-links-link {
	text-decoration: none;
	position: relative;
}

.footer-list {
	display: flex;
	justify-content: space-between;
}

.twitter {
	content: '';
	position: absolute;
	background-image: url(../img/sprites.png);
	height: 24px;
	width: 28px;
	background-position: -107px -112px;
    
}

.vk {
	content: '';
	position: absolute;
	background-image: url(../img/vk.png);
	height: 19px;
	width: 32px;
	left: 40px;
}

.instagram {
	content: '';
	position: absolute;
	background-image: url(../img/instagram.png);
	height: 24px;
	width: 24px;
	left: 90px;
}

.footer-right-768 {
	width: 280px;
	display: inline-block;
	vertical-align: top;
	margin-top: 40px;
}

.footer-right-768 a {
	display: block;
}

.footer-right-768 a.footer-phone {
	margin-left: 25px;
	margin-bottom: 16px;
}


.footer-left-768 {
	width: 455px;
	height: 400px;
	display: inline-block;
	vertical-align: top;
	margin-top: 40px;
}

.footer-map {
	width: 320px;
}


@media (min-width: 320px) {

	.container {
		max-width: 290px;
	}
	.event__event-item {
		width: 290px;
		height: 250px;
		margin: 0 auto;
		margin-bottom: 10px;
		
	}

	.event__event-list {
		display: block;
	}

	.page-header__contacts-item.clock {
		display: none;
	}

	.page-header__contacts-item.adress {
		display: none;
	}

	.page-header__contacts {
		justify-content: space-around;
	}

	.page-header__main-list {
		display: none;
	}

	.track__item-list {
		display: none;
	}

	.multiple-items {
		display: none;
	}

	.about-us__img-list {
		display: none;
	}

	table {
		display: none;
	}

	a.safety-measures {
		display: block;
		margin-top: 20px;
		margin-left: 0;
	}

	.additions a.btn {
		margin-left: 0;
	}

	.reviews__list {
		display: none;
	}

	p.promo__descr--view-xs {
		display: none;
	}

	.instagram-review {
		left: 80px;
	}

	.vk-review {
		left: 110px;
	}

	.footer-left {
		display: none;
	}

	.footer-right {
		width: 100%;
		margin-top: 0;
	}

	p.footer-right__tel-number {
		display: block;
	}
	

@media (min-width: 768px) {

	.container {
		max-width: 740px;
	}
	

	button.page-header__toggler {
		display: none;
	}

	.page-header__contacts-item.clock {
		display: block;
	}

	.page-header__contacts-item.adress {
		display: block;
	}
	.page-header__contacts {
		justify-content: flex-end;
	}

	.page-header__main-list a.btn {
		display: none;
	}

	.page-header__main-list a.logo {
		padding-left: 20px;
	}

	.page-header__main-list {
		display: flex;
	}

	.event__event-item {
		width: 740px;
		height: 250px;
		display: block;
		margin: 0 auto;
		margin-bottom: 10px;
	}

	.about-us__imgs {
		width: 240px;
	}

	.track__list-slider-320 {
		display: none;
	}

	.price-320 {
		display: none;
	}
	p.promo__descr--view-sm {
		display: none;
	}

	p.promo__descr--view-xs {
		display: block;
		width: 70%;
		padding-left: 20px;
	}

	.multiple-items {
		display: block;
	}

	.about-us__img-list {
	
		display: flex;
	}

	table {
		display: block;
	}

	a.safety-measures {
		display: inline-block;
		margin-top: 0;
		margin-left: 80px;
	}

	.reviews__list {
		display: block;
		width: 650px;
    	margin: 0 auto;
    	margin-top: 30px;
	}
	
	.reviews__list-320 {
		display: none;
	}

	.instagram-review {
		left: 80px;
	}

	.vk-review {
		    left: 110px;
	}

	.page-header__contacts-item.adress {
		margin-right: 10px;
	}

	.footer-map {
		display: none;
	}

	p.footer-right__tel-number {
		display: block;
	}

	.footer-left {
		display: block;
	}

	.footer-right {
		width: 30%;
	}

	.footer-right {
		margin-top: 40px;
	}

	
}

@media (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
	
	button.page-header__toggler {
		display: none;
	}	

	.page-header__contacts-item.clock {
		display: block;
	}

	.page-header__contacts-item.adress {
		display: block;
	}

	.page-header__contacts-item.adress {
		margin-right: 10px;
	}

	.page-header__main-list {
		display: flex;
	}
	
	p.promo__descr--view-sm {
		display: none;
	}

	.promo a.btn {
		display: none;
	}

	.page-header__main-list a.btn {
		display: block;
	}
	.track__item-list {display: block;}

	.event__event-item {
		width: 353px;
		height: 353px;
		display: inline-block;
	}

	.event__event-list {
		display: flex;
	}

	.about-us__imgs {
		width: 359px;
	}
	.track__list-slider-320 {
		display: none;
	}
	.page-header__contacts {
		justify-content: flex-end;
	}

	.multiple-items {
		display: none;
	}

	.price-320 {
		display: none;
	}

	.about-us__img-list {
		display: flex;
	}

	table {
		display: block;
	}

	.reviews__list {
		display: block;
		width: 1000px;
    	margin: 0 auto;
    	margin-top: 40px;
	}

	.footer-map {
		display: none;
	}

	p.promo__descr--view-xs {
		display: block;
		width: 50%;

	}

	.instagram-review {
		left: 130px;
	}

	.vk-review {
		left: 160px;
	}

	.footer-left{
		display: block;
	}

	p.footer-right__tel-number {
		display: inline-block;
	}

	.footer-right {
		margin-top: 40px;
	}

}









